[Unit]
Description=Hadoop DFS datanode
Requires=network-online.target

[Service]
User={{ hdfs_user }}
Group={{ hadoop_group }}
Type=forking
ExecStart=/usr/local/bin/hadoop hdfs --daemon start datanode
PIDFile={{ hadoop_pid_dir }}/{{ hdfs_user }}/hadoop-hdfs-datanode.pid

[Install]
WantedBy=multi-user.target