[Unit]
Description=Spark History server
Requires=network-online.target

[Service]
User={{ spark_user.user }}
Group={{ spark_user.group }}
Type=forking
# Prefix with + to Run ExecStartPre with root-permissions, see https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecStart=
ExecStartPre=+/usr/bin/mkdir -p {{ spark_pid_dir }}/{{spark_user.user}} {{ spark_log_dir }}/{{ spark_user.user }}
ExecStartPre=+/usr/bin/chown -R {{ spark_user.user }}:{{ spark_user.group }} {{ spark_pid_dir }}/{{spark_user.user}} {{ spark_log_dir }}/{{ spark_user.user }}
# Run ExecStart with User={{ spark_user.user }} / Group={{ spark_user.group }}
ExecStart=/usr/local/bin/spark-invoker.sh spark-env.sh start-history-server.sh
ExecStop=/usr/local/bin/spark-invoker.sh spark-env.sh stop-history-server.sh
PIDFile={{spark_pid_dir}}/{{spark_user.user}}/spark-{{spark_user.user}}-org.apache.spark.deploy.history.HistoryServer-1.pid

[Install]
WantedBy=multi-user.target