{{ ansible_managed | comment() }}

[Unit]
Description=Activate Adm network
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot
ExecStart=ping wonky.statsbiblioteket.dk -c 2
RemainAfterExit=true
#ExecStop=/opt/foo/teardown-foo.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target

