{{ ansible_managed | comment() }}

module zabbix_agent 1.0;

require {
	type var_lib_t;
	type zabbix_agent_t;
	type zabbix_var_lib_t;
	type initctl_t;
	type devlog_t;
	class file { open read };
	class fifo_file { getattr };
	class sock_file { getattr };
}

#============= zabbix_agent_t ==============

#!!!! WARNING: 'var_lib_t' is a base type.
# Allows zabbix to read it's psk file in /var/lib/zabbix/zabbix_agentd.psk
allow zabbix_agent_t var_lib_t:file { open read };
allow zabbix_agent_t zabbix_var_lib_t:file { open read };

#allow zabbix_agent_t proc_kcore_t:file { getattr };
allow zabbix_agent_t initctl_t:fifo_file { getattr };
allow zabbix_agent_t devlog_t:sock_file { getattr };
