[Unit]
Description=Hadoop DFS secondary namenode
Requires=network-online.target

[Service]
User={{ hdfs_user }}
Group={{ hdfs_group }}
Type=forking
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p {{ hadoop_pid_dir }}/{{ hdfs_user }}
ExecStartPre=/usr/bin/chown -R {{ hdfs_user }}:{{ hdfs_group }} {{ hadoop_pid_dir }}/{{ hdfs_user }}
# Run ExecStart with User={{ hdfs_user }} / Group={{ hdfs_group }}
ExecStart=/usr/local/bin/hadoop-invoker.sh hdfs hadoop-env.sh --daemon start secondarynamenode
PIDFile={{ hadoop_pid_dir }}/{{ hdfs_user }}/hadoop-hdfs-secondarynamenode.pid

[Install]
WantedBy=multi-user.target




