[Unit]
Description=Hadoop DFS: run a utility to move block replicas across storage types
Requires=network-online.target

[Service]
User={{ hdfs_user }}
Group={{ hadoop_group }}
Type=forking
ExecStart=/usr/local/bin/hadoop-invoker.sh hdfs hadoop-env.sh --daemon start mover
PIDFile={{ hadoop_pid_dir }}/{{ hdfs_user }}/hadoop-hdfs-mover.pid

[Install]
WantedBy=multi-user.target




