[Unit]
Description=Hadoop DFS HttpFS server, the HDFS HTTP Gateway
Requires=network-online.target

[Service]
User={{ hdfs_user }}
Group={{ hadoop_group }}
Type=forking
ExecStart=/usr/local/bin/hadoop-invoker.sh hdfs hadoop-env.sh --daemon start httpfs
PIDFile={{ hadoop_pid_dir }}/{{ hdfs_user }}/hadoop-hdfs-httpfs.pid

[Install]
WantedBy=multi-user.target




