{{ ansible_managed | comment() }}

[Unit]
Description=Hadoop DFS balancer
Requires=network-online.target
Documentation=https://hadoop.apache.org/docs/r{{ hadoop_version }}/hadoop-project-dist/hadoop-hdfs/HdfsUserGuide.html#Balancer

[Service]
User={{ hdfs_user.name }}
Group={{ hdfs_user.group }}
Type=forking
# Prefix with + to Run ExecStartPre with root-permissions, see https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecStart=
ExecStartPre=+/usr/bin/mkdir -p {{ hadoop_pid_dir }}/{{ hdfs_user.name }}
ExecStartPre=+/usr/bin/chown -R {{ hdfs_user.name }}:{{ hdfs_user.group }} {{ hadoop_pid_dir }}/{{ hdfs_user.name }}
# Run ExecStart with User={{ hdfs_user.name }} / Group={{ hdfs_user.group }}
ExecStart=/usr/local/bin/hadoop-invoker.sh hdfs hadoop-env.sh --daemon start balancer -asService
PIDFile={{ hadoop_pid_dir }}/{{ hdfs_user.name }}/hadoop-{{ hdfs_user.name }}-balancer.pid

[Install]
WantedBy=multi-user.target




