[Unit]
Description=Hadoop DFS ZooKeeper Failover Controller
Requires=network-online.target

[Service]
User={{ hdfs_user }}
Group={{ hadoop_group }}
Type=forking
ExecStart=/usr/local/bin/hadoop-invoker.sh hdfs hadoop-env.sh --daemon start zkfc
PIDFile={{ hadoop_pid_dir }}/{{ hdfs_user }}/hadoop-hdfs-zkfc.pid

[Install]
WantedBy=multi-user.target




