[Unit]
Description=Hadoop YARN SharedCacheManager daemon
Requires=network-online.target

[Service]
User={{ yarn_user }}
Group={{ hadoop_group }}
Type=forking
ExecStart=/usr/local/bin/hadoop-invoker.sh yarn yarn-env.sh --daemon start sharedcachemanager
PIDFile={{ hadoop_pid_dir }}/{{ yarn_user }}/hadoop-yarn-sharedcachemanager.pid

[Install]
WantedBy=multi-user.target