[Unit]
Description=Hadoop Mapreduce History Server
Requires=network-online.target

[Service]
User={{ mapreduce_user.user }}
Group={{ mapreduce_user.group }}
Type=forking
# Prefix with + to Run ExecStartPre with root-permissions, see https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecStart=
ExecStartPre=+/usr/bin/mkdir -p {{ hadoop_pid_dir }}/{{ mapreduce_user.user }} {{ hadoop_log_dir }}/{{ mapreduce_user.user }}
ExecStartPre=+/usr/bin/chown -R {{ mapreduce_user.user }}:{{ mapreduce_user.group }} {{ hadoop_pid_dir }}/{{ mapreduce_user.user }} {{ hadoop_log_dir }}/{{ mapreduce_user.user }}
# Run ExecStart with User={{ mapreduce_user.user }} / Group={{ mapreduce_group }}
ExecStart=/usr/local/bin/hadoop-invoker.sh mapred mapred-env.sh --daemon start historyserver
PIDFile={{ hadoop_pid_dir }}/{{ mapreduce_user.user }}/hadoop-mapred-historyserver.pid

[Install]
WantedBy=multi-user.target